.answer-title-container {
  margin-top: 9%;
  margin-bottom: 1%;
}

.answer-title {
  color: #292b2c;
  font-size: 2rem;
  margin-left: 10%;
}

.answer-author {
  color: gray;
  margin-left: 32%;
}

.answer-votes {
  color: gray;
  position: relative;
  right: 9%;
}

.code-block {
  border: solid;
  border-color: #292b2c1f;
  border-width: 0.5px;
  width: 72%;
  border-radius: 1%;
  padding: 10px;
  margin-left: 11%;
  min-height: 30vh;
  background-color: #fff;
}

pre.ql-syntax {
  background-color: #edf6e5;
  color: #000;
  overflow: visible;
}

.answer-upvote {
  margin-right: 1%;
}

.answer-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
}

.comments-container {
  margin: 1% 0 1% 10%;
}

.answer-buttons-div{
  margin-left: 10%;
}

@media screen and (max-width: 992px) {
  .answer-title {
    margin-left: 0;
  }

  .answer-author {
    margin-left: 0;
    margin-bottom: 1%;
  }

  .answer-votes {
    right: 0;
    margin-left: 0;
  }

  .code-block {
    width: 91%;
    margin-left: 3%;
  }

  .answer-upvote {
    margin-left: 0;
    margin-bottom: 4%;
    margin-top: 3%;
  }
}
