.home-left-container {
    height: 100%;
}

.home-left-container-top{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-left-container-bottom{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-left-container-bottom-heading{
    color: #fff;
    margin-bottom: 3%;
}

.home-left-container-bottom-div{
    width: 100%;
    text-align: center;
    margin-top: 2%;
}

.home-left-container-bottom-sheetsList{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

