.question-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
}

.question-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
